#channels-container {
    border: solid 4px black;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 2em;
    grid-column-gap: 2em;
}

h1 {
    text-align: center;
}

#tune-in {
    text-align: center;
}

/* #channels-container {
    border: solid 4px black;
    display: flex;
    

} */


