#channels-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 6em;
    grid-column-gap: 2em;
    margin: 50px 0 0 0;
}

h2 , p {
    text-align: center;
}

h2 {
    font-family: 'Cardo', serif;

}

